<section class='hero is-primary'>
    <nav class='nav'>
        <div class='container'>
            <div class="nav-left">
                <a class="nav-item is-brand content is-medium" href="/#/">
                    updo
                </a>
            </div>
            <div class="nav-center">
                <div class="nav-item">
                    Hello, guest!
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-item">
                    <a class="button" href="/#/">
                        Sign out
                    </a>
                </div>
            </div>
        </div>
    </nav>
</section>
<section class="section">
    <div class="container">
       <div class="column is-one-quarter">
            <div class="notification">
                <h1 class="title">
                    Log In Using ID
                </h1>
                <div class='level'>
                    <div class='level-left'>
                        <input class="input is-success" ng-model="id">
                    </div>
                    <div class='level-right'>
                        <a class="button is-primary" href="#/User/{{id}}">
                            Log In
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>