<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-brand content is-medium" href="/#/">
                updo
            </a>
        </div>
        <div class="nav-right">
            <span class="nav-item">
                Hello, guest!
            </span>
            <span class="nav-item">
                <a class="button is-primary" href="/#/">
                    Change User
                </a>
            </span>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
       <div class="column is-one-quarter">
            <div class="notification">
                <h1 class="title">
                    Log In Using ID
                </h1>
                <div class='level'>
                    <div class='level-left'>
                        <input class="input is-success" ng-model="id">
                    </div>
                    <div class='level-right'>
                        <a class="button is-primary" href="#/User/{{id}}">
                            Log In
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>